name: 'Lint-Format'

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  lint-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@<version>
        
      - name: Setup Node
        uses: actions/setup-node@<version>
        with:
          node-version: <node-version>
        
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
        
      - name: Run Linter
        run: npm run lint
