name: Static analysis

on:
  pull_request:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 24

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        with:
          version: 10.28.1 
          
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: ESlint
        run: pnpm lint

      - name: Prettier
        run: pnpm format

      - name: Run tests
        run: pnpm test

      - name: Upload build artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: build
          path: dist
